
// Bloquer le scroll

.scrollNone{
  overflow-y: hidden;
}

/* largeur hauteur */

.fullHeight{
  height: 100vh;
}

/* overflow */

.oHidden{
  overflow: hidden;
}

.oVisible{
  overflow: visible !important;
}

/* Display */

.displayNoneI{
  display: none !important;
}

.displayNone{
  display: none;
}

.displayBlockI{
  display: block !important;
}

.displayBlock{
  display: block;
}

.displayFlex{
  display: flex;
}

.displayInline-Block{
  display: inline-block;
}

/* Float */

.floatL{
  float: left;
}

.floatR{
  float: right;
}

.floatN{
  float: none !important;
}

/* Marges externes */

.marginALeft{
  margin-left: auto;
}

.marginARight{
  margin-right: auto;
}

$i: 5;
@while $i <= 100{
  .marginTop#{$i}{margin-top: unquote($i + "px");}
  $i: $i + 5;
}

$i: 0;
@while $i <= 10{
  .marginTopP#{$i}{margin-top: unquote($i + "%") !important;}
  $i: $i + 1;
}

$i: 5;
@while $i <= 100{
  .marginBottom#{$i}{margin-bottom: unquote($i + "px");}
  $i: $i + 5;
}

$i: 0;
@while $i <= 10{
  .marginBottomP#{$i}{margin-bottom: unquote($i + "%") !important;}
  $i: $i + 1;
}

$i: 0;
@while $i <= 100{
  .marginLeft#{$i}{margin-left: unquote($i + "px");}
  $i: $i + 10;
}

$i: 0;
@while $i <= 100{
  .marginRight#{$i}{margin-right: unquote($i + "px");}
  $i: $i + 10;
}

$i: 0;
@while $i <= 10{
  .marginLeftP#{$i}{margin-left: unquote($i + "%");}
  $i: $i + 1;
}

$i: 0;
@while $i <= 10{
  .marginRightP#{$i}{margin-right: unquote($i + "%");}
  $i: $i + 1;
}

.noMargin{
  margin: 0 !important;
}

.marginAutoI{
  margin: auto !important;
}

.marginAuto{
  margin: auto;
}

/* Marges internes */

.noPadding{
  padding: 0 !important;
}

$i: 5;
@while $i <= 100{
  .paddingTop#{$i}{padding-top: unquote($i + "px");}
  $i: $i + 5;
}

$i: 5;
@while $i <= 100{
  .paddingRight#{$i}{padding-right: unquote($i + "px");}
  $i: $i + 5;
}

$i: 5;
@while $i <= 100{
  .paddingBottom#{$i}{padding-bottom: unquote($i + "px");}
  $i: $i + 5;
}

$i: 5;
@while $i <= 100{
  .paddingLeft#{$i}{padding-left: unquote($i + "px");}
  $i: $i + 5;
}

$i: 2;
@while $i <= 10{
  .paddingTop#{$i}per{padding-top: unquote($i + "%");}
  $i: $i + 2;
}

$i: 2;
@while $i <= 10{
  .paddingBottom#{$i}per{padding-bottom: unquote($i + "%");}
  $i: $i + 2;
}

/* Couleurs */

@each $color in "white", "black", "red", "gold", "green", "orange"{
  .background-#{$color}{background-color: unquote($color);}
}

@each $nameColor, $backColor in ("grey", #e4ded5), ("blue", deepskyblue), ("brown", #603f31), ('neon-blue', #545CFF){
  .background-#{$nameColor}{background-color: $backColor;}
}

@each $colors, $hex in ("brown", #603f31), ("beige", #e4ded5), ("green", #679519), (lighterGreen, #20ffe1), (blanc, #ffffff), (noir, #000000), ('neon-blue', #545CFF){
  .#{$colors}{color: $hex;}
}

/* Positions */

.fixed{
  position: fixed;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

// Positionnement

.right{
  right: 0;
}

.left{
  left: 0;
}

.top{
  top: 0;
}

.bottom{
  bottom: 0;
}

@for $i from 0 through 15{
  .z#{$i}{z-index: $i;}
}

/* Système de colonnes */

.row{
  width: 100%;
  display: block;
  overflow: hidden;
}

.col{
  float: left;
  box-sizing: border-box;
  padding: 0 10px;
}

@for $i from 1 through 12{
  .s#{$i}{width: unquote((100 / 12) * $i + "%");}
}

@for $i from 1 through 12{
  .offset-s#{$i}{margin-left: unquote((100 / 12) * $i + "%");}
}

/* Textes */

.uppercase{
  text-transform: uppercase;
}

.lowercase{
  text-transform: lowercase;
}

.capitalize{
  text-transform: capitalize;
}

/* Centrage */

@each $align in center, left, right{
  .align-#{$align}{text-align: $align;}
}

.vertical-align{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Radius */

.radius{
  border-radius: 50px;
}

/* tailles */

.fullW{
  width: 100%;
}

/* graisse de police */

$weight: 300;
@while $weight <= 900{
  .weight-#{$weight}{font-weight: $weight};
  $weight: $weight + 100;
}

$size: 8;
@while $size <= 30{
  .size#{$size}{font-size: unquote($size + "px") !important};
  $size: $size + 1;
}

/* style de police */

@each $style in italic, oblique, normal{
  .#{$style}{font-style: $style};
}

/* liens */

.no-deco{
  text-decoration: none;
}

/* opacité */

$opacity: 0;
@while $opacity <= 1{
  .opacity#{$opacity * 10}{opacity: $opacity;}
  $opacity: $opacity + 0.1;
}

/* cursor */

.cursor{
  cursor: pointer;
}

/* Clear float */

.clear{
  clear: both;
}
